<html>

<head>
    <title>TapSearch</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/main.css">    
</head>

<body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">

        <a class="navbar-brand" href="/">
        <i class="fa fa-search"></i> <span><strong>Tap</strong>Search</span>
        </a>
    </nav>