<%- include ("./partials/header.ejs") %>
<div class = "container">
    <div class="row">
        <div class = "col-md-8">
            <form action="/index" method = "GET">
                <div class="form-group">
                    <label for="input_text">Enter the text:</label>
                    <textarea name="input_text" id="input_text" cols="30" rows="10" class="form-control"></textarea>
                    <input type="submit" value = "Index" class="btn btn-sm  btn-info float-right">
                </div>
            </form>
        </div>
    </div>

</div>