<%- include ("./partials/header.ejs") %>
<div class = "container">
    <div class="row">
        <div class = "col-md-6">
            <form action="/index" method = "GET" class="form-group">
                <label for="input_text">Enter the text:</label>
                <textarea name="input_text" id="input_text" cols="30" rows="10" class="form-control"></textarea>
                <input type="submit" value = "Index" class="btn btn-info float-right">
            </form>

        </div>
    </div>

</div>