<%- include ("./partials/header.ejs") %>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <span>
                <strong>
                    Search word:
                </strong>
                <%- searchWord %>
            </span>
            <input type="submit" value="Clear Index" class="btn btn-sm btn-light float-right" formaction="/clear">
            <strong>
                <p>
                    Search Result:
                </p>
            </strong>
            <p>
                <%  for (let currentDocIndex  in searchWordDocs){
                        currentDoc = searchWordDocs[currentDocIndex];
                        currentDocWords = currentDoc.split(" ");
                        currentDocWords.forEach((currentWord) => {
                            if (currentWord.toLowerCase() == searchWord) {%>
                                <strong>
                                    <%- currentWord %>
                                </strong>
                            <% } else { %>
                                <%- currentWord %>
                            <% }
                        }); %>
                    <br>
                    <br> 
                <% } %>
            </p>
        </div>
        </div>
    </div>

</div>