
.col-md-8{
    margin: 50px auto;
}

.btn {
    margin: 20px 0;   
    margin-left: 20px; 
}

strong p{
    padding-top: 60px;
}

.wrapped {
    white-space: pre-wrap;
}

p {
    text-align: justify;
}