
.col-md-6 {
    width: 33%;
    margin: 50px auto;
}

.btn {
    margin: 20px 0;   
    margin-left: 20px; 
}

strong p{
    margin-top: 80px;
}
.wrapped {
    white-space: pre-wrap;
    text-align: justify;
}